[submodule "nerf"]
	path = nerf
	url = https://github.com/bmild/nerf.git
[submodule "mipnerf"]
	path = mip_nerf
	url = https://github.com/google/mipnerf.git
[submodule "multinerf"]
	path = multinerf
	url = https://github.com/google-research/multinerf.git
